@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap');

$mainColor: #5C8692;
$mainTextColor: #141414;
$secondaryTextColor: #555555;
$bgColor: #EBF3F5;
$darkBgColor: #1E2C30;
$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
	);
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

:focus,
:active {
	outline: none;
}

textarea {
    resize: none;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

a,
a:visited {
	text-decoration: none;
}

body {
    font-family: 'Manrope', sans-serif;
    @include adaptiv-font(18, 14);
    font-weight: 400;
    color: $mainTextColor;
    background-color: #FFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
	padding: 0 15px;
}

.title {
    font-family: 'Playfair Display', serif;
    @include adaptiv-font(45, 20);
    letter-spacing: 0.45px;
    line-height: 130%;
    span {
        display: block;
        font-family: 'Manrope';
        color: $mainColor;
        @include adaptiv-font(15, 11);
        letter-spacing: 1.5px;
        text-transform: uppercase;
        line-height: 150%;
    }
}

.colored-btn {
    display: inline-flex;
    gap: 10px;
    padding: 19px 30px;
    background-color: $mainColor;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.3s ease ;
    &:hover, &:focus, &:active {
        transform: scale(0.95);
    }
}

.outline-btn {
    display: inline-flex;
    padding: 19px 30px;
    border: 2px solid $mainColor;
    font-size: 14px;
    background-color: #FFF;
    color: $mainTextColor;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.3s ease ;
    &:hover, &:focus, &:active {
        transform: scale(0.95);
    }
}

@media (max-width: 1199px) {
    .colored-btn, .outline-btn {
        padding: 10px 20px;
    }
}

.header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    padding: 23px 0;
    background-color: #FFF;
    z-index: 100;
    &__container {
        max-width: 1410px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    &__col {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        max-width: 192px;
        img {
            width: 100%;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        @include adaptiv-font(16, 12);
        color: $mainTextColor;
        &_icon {
            max-width: 24px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
    }

    .menu {
        &__list {
            display: flex;
            gap: 2em;
            align-items: center
        }
    
        &__link {
            @include adaptiv-font(17, 13);
            color: $mainTextColor;
            transition: all 0.3s ease;
            &:hover, &:focus, &:active {
                color: $mainColor;  
            }
        }
        &__burger {
            display: none;
            cursor: pointer;
            max-width: 40px;
            align-items: center;
            
        }
        &__social-media {
            display: flex;
            align-items: center;
            gap: 20px;
            li a {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &__container {
            flex-direction: column;
        }
        .menu {
            margin-right: auto;
        }
    }
}

@media (max-width: 691px) {
    .header {
        .menu {
            &__list {
                position: absolute;
                align-items: flex-start;
                top: 150px;
                left: 0;
                flex-direction: column;
                width: 100vw;
                padding: 2em;
                background-color: #fff;
                transform: rotate(-180deg);
                transform-origin: 0% 0%; 
                transition: all 0.5s ease;
                &.active {
                    transform: rotate(0);
                }
            }
            &__burger {
                display: flex;
            }
        }
    }
}

@media (max-width: 451px) {
    .header {
        &__social-media {
            position: absolute;
        }

        &__phone_text { 
            display: none;
        }
    }
}

.intro {
    padding: 120px 0;
    background-color: $bgColor;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__wrapper {
        max-width: 483px;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        @include adaptiv-font(55, 30);
        line-height: 130%;
        letter-spacing: 0.66px;
        margin-bottom: 19px;
        span {
            display: flex;
            gap: 6px;
            align-items: center;
            @include adaptiv-font(15, 11);
            font-family: 'Manrope';
            color: $mainColor;
            letter-spacing: 1.5px;
            line-height: 150%;
            text-transform: uppercase;
        }
    }

    &__text {
        margin-bottom: 26px;
    }

    &__img {
        max-width: 622px;
        img {
            width: 100%;
        }
    }
}

@media(max-width: 1199px) {
    .intro {
        padding: 100px 0;
    }
}

@media(max-width: 581px) {
    .intro {
        &__img {
            display: none;
        }
    }
}

.services {
    padding: 100px 0;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        max-width: 630px;
        margin-bottom: 70px;
    }

    &__row {
        width: 100%;
        display: flex;
    }

    &__img {
        font-size: 0;
        flex-basis: 50%;
        max-width: 600px;
        img {
            width: 100%;
        }
    }

    &__list {
        flex-basis: 50%;
        &.right-list {
            padding: 60px 0 60px 60px;
        }
        &.left-list {padding: 60px 60px 60px 0;}
    }

    &__button {
        margin-top: 70px;
    }
}

.service {
    padding-bottom: 15px;
    border-bottom: 1px solid $mainColor;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Playfair Display', serif;
        @include adaptiv-font(22, 15);
        border-bottom: 3px solid $mainTextColor;
        span {
            font-family: 'Manrope', sans-serif;  
            @include adaptiv-font(18, 11);
        }
    }
    &__info {
        @include adaptiv-font(18, 12);
        color: $secondaryTextColor;
    }
}

@media(max-width: 991px) {
    .services {
        &__row {
            flex-direction: column;
        }
        &__img {
            display: none;
        }
        &__list {
            &.right-list {
                padding: 30px;
            }
            &.left-list {padding: 30px}
        }
    }
}

@media(max-width: 767px) {
    .services {
        &__title {
            margin-bottom: 40px;
        }
        &__button {
            margin-top: 40px;
        }
    }
}

@media(max-width: 480px) { 
    .services {
        &__list {
            &.right-list {
                padding: 10px;
            }
            &.left-list {padding: 10px}
        }
    }
}

.testimonials {
    padding: 100px 0;
    background-color: $bgColor;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.testimonial {
    max-width: 600px;
    &__text {
        background-color: #fff;
        padding: 30px 30px 25px;
        @include adaptiv-font(19, 14);
    }

    .person {
        background-color: $darkBgColor;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: #FFF;        
        &__img {
            max-width: 75px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__rating {
            margin-bottom: 3px;
        }
        &__name {
            @include adaptiv-font(20, 15);
            font-family: 'Playfair Display', serif;
            margin-bottom: 7px;
        }
        &__location {
            @include adaptiv-font(14, 10);
        }
        &__decor {
            max-width: 70px;
            margin-left: auto;
            img {
                width: 100%;
            }
        }
    }
}

@media(max-width: 991px) {
    .testimonials {
        &__wrapper {
            flex-direction: column;
        }
    }
}

@media(max-width: 424px) {
    .testimonial {
        &__text {
            padding: 20px;
        }
        .person {
            padding: 20px;
            &__img {
                max-width: 65px;
            }
            &__decor {
                display: none;
            }
        }
    }
}

.benefits {
    padding: 100px 0;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 50px 40px;
    }
}

.benefit {
    &__title {
        font-family: 'Playfair Display', serif;
        @include adaptiv-font(26, 18);
        line-height: 140%;
        margin-bottom: 11px;
        &::before {
            display: flex;
            content: '';
            background: url('../img/check-mark.svg') no-repeat center center / cover;
            width: 94px;
            height: 94px; 
            margin-bottom: 14px;
        }
    }

    &__text {
        @include adaptiv-font(18, 14);
        line-height: 150%;
        color: $secondaryTextColor;
    }
}

@media(max-width: 1199px) {
    .benefit {
        &__title {
            &::before {
                width: 64px;
                height: 64px; 
            }
        }
    }
}

@media(max-width: 921px) {
    .benefits {
        &__title {
            margin-bottom: 40px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,1fr);
            gap: 30px 40px;
        }
    }
}

@media(max-width:767px) {
    .benefit {
        &__title {
            margin-bottom: 4px;
            &::before {
                width: 44px;
                height: 44px;
                margin-bottom: 6px;
            }
        }
    }
}

@media(max-width: 567px) {
    .benefits {
        &__wrapper {
            grid-template-columns: repeat(1,1fr);
            gap: 30px 40px;
        }
    }
    .benefit {
        padding-bottom: 6px;
        border-bottom: 1px solid $mainColor;
        &__title {
            &::before {
                width: 34px;
                height: 34px; 
            }
        }
    }
}

.discount {
    padding: 100px 0;
    background-color: $bgColor;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
    }

    &__col {
        flex: 1 1 555px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width: 500px;
        margin-bottom: 18px;
    }

    &__text {
        @include adaptiv-font(18, 14);
        color: $secondaryTextColor;
        margin-bottom: 30px;
    }

    &__box {
        display: flex;
        .info-box {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: #fff;
            padding: 32px;
            border: 1px solid $mainColor;
            &__mail, &__phone {
                margin-left: 50px;
                font-size: 14px;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    margin-right: 20px;
                    width: 30px;
                    height: 6px;
                    background: url('../img/dots.svg') no-repeat;
                    position: absolute;
                    top: 8px;
                    left: -50px;
                } 
                span {
                    
                    text-transform: uppercase;
                }
                a {
                    color: inherit;
                }
            }
        }
        .discount-box {
            padding: 1.2em 1em;
            background-color: $darkBgColor;
            color: #FFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include adaptiv-font(15, 11);
            letter-spacing: 1.5px;
            text-transform: uppercase;
            span {
                @include adaptiv-font(55, 20);
            }
        }
    }

    .form {
        flex: 1 1 555px;
        background-color: #FFF;
        box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
        padding: 65px 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__label {
            display: flex;
            align-items: flex-start;
            width: 100%;
            border: 2px solid $mainColor;
            input, textarea {
                color: $secondaryTextColor;
                padding: 5px;
                align-self: center;
                font-family: inherit;
                font-size: 14px;
                height: 100%;
                width: 100%;
            }
            img {
                width: 41px;
                margin-bottom: auto;
            }
        }
        &__button {
            padding: 19px 30px;
            background-color: $mainColor;
            font-size: 14px;
            color: #FFF;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}


@media(max-width: 991px) {
    .discount {
        .form {
            padding: 35px 30px;
            gap: 15px;
            &__label { 
                img {
                    width: 31px;
                }
            }
        }
    }
}

@media(max-width: 959px) {
    .discount {
        &__container {
            flex-direction: column;
            gap: 40px;
        }
        &__col {
            flex: 1 1 auto;
            align-items: center;
        }
        &__title {
            text-align: center;
        }
        .form {
            flex: 1 1 auto;
            width: 555px;
        }
    }
}

@media(max-width: 585px) {
    .discount {
        &__box {
            .info-box {
                gap: 8px;
                padding: 22px;
                border: 1px solid $mainColor;
                &__mail, &__phone {
                    margin-left: 0;
                    &::before {
                        display: none;
                    } 
                }
            }
        }
        .form {
            width: 100%;
        }
    }
}

@media(max-width: 340px) {
    .discount {
        &__box {
            flex-direction: column;
        }
        .form {
            padding: 15px;
            gap: 10px;
            &__label { 
                img {
                    width: 21px;
                }
            }
        }
    }
}

.blog {
    padding: 100px 0;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin-bottom: 50px;
    }

    .post {
        width: 100%;
        &__img {
            font-size: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &__info {
            background-color: $bgColor;
            padding: 25px;
        }
    
        &__top {
            color: $mainColor;
            font-size: 13px;
            letter-spacing: 0.78px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            gap: 5px;
            flex-wrap: wrap;
        }

        &__title {
            font-family: 'Playfair Display', serif;
            @include adaptiv-font(22, 16);
            margin-bottom: 14px;
        }
    
        &__text {
            color: $secondaryTextColor;
            @include adaptiv-font(18, 14);
        }
    }
}

@media(max-width: 991px) {
    .blog {
        &__wrapper {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media(max-width: 640px) {
    .blog {
        &__wrapper {
            grid-template-columns: repeat(1,1fr);
        }
    }
}

@media(max-width: 991px) {
    .intro, .services, .testimonials, .benefits, .discount, .blog {
        padding: 70px 0;
    }
}

@media(max-width: 767px) {
    .intro, .services, .testimonials, .benefits, .discount, .blog {
        padding: 50px 0;
    }
}
