@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

:focus,
:active {
  outline: none; }

a,
a:visited {
  text-decoration: none; }

body {
  font-family: 'Manrope', sans-serif;
  font-size: calc( 14px + 4 * ((100vw - 320px) / 1120) );
  font-weight: 400;
  color: #141414;
  background-color: #FFF; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.title {
  font-family: 'Playfair Display', serif;
  font-size: calc( 20px + 25 * ((100vw - 320px) / 1120) );
  letter-spacing: 0.45px;
  line-height: 130%; }
  .title span {
    display: block;
    font-family: 'Manrope';
    color: #5C8692;
    font-size: calc( 11px + 4 * ((100vw - 320px) / 1120) );
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 150%; }

.colored-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  padding: 19px 30px;
  background-color: #5C8692;
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1.4px;
  text-transform: uppercase; }

.outline-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 19px 30px;
  border: 2px solid #5C8692;
  font-size: 14px;
  color: #141414;
  letter-spacing: 1.4px;
  text-transform: uppercase; }

@media (max-width: 1199px) {
  .colored-btn, .outline-btn {
    padding: 10px 20px; } }
.header {
  padding: 23px 0;
  background-color: #FFF;
  z-index: 100; }
  .header__container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px; }
  .header__logo {
    max-width: 192px; }
    .header__logo img {
      width: 100%; }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 12px + 4 * ((100vw - 320px) / 1120) );
    color: #141414; }
    .header__phone_icon {
      max-width: 24px;
      margin-right: 10px; }
      .header__phone_icon img {
        width: 100%; }
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .menu__link {
    font-size: calc( 13px + 4 * ((100vw - 320px) / 1120) );
    color: #141414;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header .menu__link:hover, .header .menu__link:focus, .header .menu__link:active {
      color: #5C8692; }
  .header .menu__burger {
    display: none;
    cursor: pointer;
    max-width: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .menu__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px; }
    .header .menu__social-media li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

@media (max-width: 1199px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header .menu {
    margin-right: auto; } }
@media (max-width: 691px) {
  .header .menu__list {
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 150px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    padding: 2em;
    background-color: #fff;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .header .menu__list.active {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
  .header .menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
@media (max-width: 451px) {
  .header__social-media {
    position: absolute; }
  .header__phone_text {
    display: none; } }
.intro {
  padding: 120px 0;
  background-color: #EBF3F5; }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px; }
  .intro__wrapper {
    max-width: 483px; }
  .intro__title {
    font-family: 'Playfair Display', serif;
    font-size: calc( 30px + 25 * ((100vw - 320px) / 1120) );
    line-height: 130%;
    letter-spacing: 0.66px;
    margin-bottom: 19px; }
    .intro__title span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 6px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: calc( 11px + 4 * ((100vw - 320px) / 1120) );
      font-family: 'Manrope';
      color: #5C8692;
      letter-spacing: 1.5px;
      line-height: 150%;
      text-transform: uppercase; }
  .intro__text {
    margin-bottom: 26px; }
  .intro__img {
    max-width: 622px; }
    .intro__img img {
      width: 100%; }

@media (max-width: 1199px) {
  .intro {
    padding: 100px 0; } }
@media (max-width: 581px) {
  .intro__img {
    display: none; } }
.services {
  padding: 100px 0; }
  .services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .services__title {
    text-align: center;
    max-width: 630px;
    margin-bottom: 70px; }
  .services__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .services__img {
    font-size: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 600px; }
    .services__img img {
      width: 100%; }
  .services__list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .services__list.right-list {
      padding: 60px 0 60px 60px; }
    .services__list.left-list {
      padding: 60px 60px 60px 0; }
  .services__button {
    margin-top: 70px; }

.service {
  padding-bottom: 15px;
  border-bottom: 1px solid #5C8692; }
  .service:not(:last-child) {
    margin-bottom: 10px; }
  .service__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: calc( 15px + 7 * ((100vw - 320px) / 1120) );
    border-bottom: 3px solid #141414; }
    .service__top span {
      font-family: 'Manrope', sans-serif;
      font-size: calc( 11px + 7 * ((100vw - 320px) / 1120) ); }
  .service__info {
    font-size: calc( 12px + 6 * ((100vw - 320px) / 1120) );
    color: #555555; }

@media (max-width: 991px) {
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services__img {
    display: none; }
  .services__list.right-list {
    padding: 30px; }
  .services__list.left-list {
    padding: 30px; } }
@media (max-width: 767px) {
  .services__title {
    margin-bottom: 40px; }
  .services__button {
    margin-top: 40px; } }
@media (max-width: 480px) {
  .services__list.right-list {
    padding: 10px; }
  .services__list.left-list {
    padding: 10px; } }
@media (max-width: 991px) {
  .intro, .services {
    padding: 70px 0; } }
@media (max-width: 767px) {
  .intro, .services {
    padding: 50px 0; } }

/*# sourceMappingURL=style.css.map */